body {
    font-family: 'Titillium Web', sans-serif !important;
    color: #262626;
    line-height: 1.2;
}
h1, h2, h3 {
    display:inline-block;
    vertical-align: middle;
}
h4 {
    font-weight: bold;
}
.text {
    font-size:16px;
    height: 75px;
}
.line {
    width:15%;
    vertical-align: middle;
    background-color:#FC0A3A;
    height: 2px;
    display: inline-block;
    margin-left:25px;
}
.step {
    font-size:24px;
    font-weight: bold;
    height: 50px;

}
header {
    display: flex;
    height: 5vh;
    vertical-align: middle;
    font-weight: 700;
    width:100%;
    font-size: 14px;
    margin:25px auto;
}
.SectionIntro {
  height: 100vh;
}
.active {

}
.btnred2 {
    font-weight: 700;
    width:250px;
    height: 70px;
    margin-left:0;
    border:none;
    border-radius: 50px;
    background: linear-gradient(to right,  #FC0A3A,  #FF8E8E);
    color:white;
}
.btnred {
   font-weight: 700;
    width:200px;
    height: 50px;
    border:none;
    border-radius: 50px;
    background: linear-gradient(to right,  #FC0A3A,  #FF8E8E);
    line-height: 100%;

}
.btnborder {
    font-weight: 700;
    width:200px;
    height: 50px;
    border-radius: 50px;
    line-height: 100%;
    border:1px solid #262626;
    background: white !important;
}
.btn-danger {
    font-weight: 700;
    width:250px;
    height: 70px;
    border-radius: 50px;
    line-height: 100%;
    font-size: 16px;
}
.btn-danger {
  color: red;
  letter-spacing: 1px;
  border: 3px solid red;
  border-radius: 50px;
  background: transparent;
  transition: all 0.3s ease 0s;
}
.btn-danger:hover {
  color: #FFF;
  background: red;
  border: 2px solid rgba(217, 83, 78, 0.75);
}
.btngrey {
    font-weight: 700;
    font-size: 16px;
    width:200px;
    height: 70px;
    margin-left:30px;
    border-radius: 50px;
    border:1px solid #f6f6f6;
    background: #f6f6f6;
}
.btngrey a {
    color: #262626;
}

* {box-sizing:border-box}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  padding: 16px;
  font-size: 1px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.introtext {
  margin-top:40%;
  width: 72%;
}
.btnbox {
  margin-top: 20%;
  margin-left: 6%;
}
.imgpad {
  padding-right: 0 !important;
}
.socialIco {
  margin-left: 100%;
}
.SectionServices {
    height: 100vh;
}
.box {
 max-width: 600px;
 height: 500px;
 border-radius: 1px;
}
.SectionClient {
  height: 100vh;
}
section#OurClients .btn {
  background-image: linear-gradient(to right top, #505050, #454545, #3a3a3a, #303030, #262626);
  font-size: 20px;
  color: white;
  font-weight: 600 !important;
  border-radius: 50px;
  border: 0;
}
section#OurClients .cta {
  padding: 20px 60px !important;
}

section#OurClients .btn:hover {
  background: #b0a6a6;
}
.contCheck {
text-decoration: underline;
border-bottom-color: red;
border-top: none;
border-right: none;
border-left: none;
padding-bottom: 10px;
}
input {
  padding-left: 20px;
  font-family: serif;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after {
  background-image: none;
  color: red;
}
.custom-control-input:checked~.custom-control-label::before{
  border-color: red !important;
  background-color: red !important;
}
.instaimg img:hover {
  opacity: 0.8;
  -moz-opazity: 0.8;
  -webkit-opacity: 0.8;
}
